@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1b599e;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
  .submenu {
    position: relative;
  }
  .submenu2 {
    position: absolute;
    left: 100%;
    top: -10px;
    background-color: white;
    display: none;
  }

  .submenu:hover > .submenu2 {
    display: block;
  }

  .submenu2 a span {
    padding: 4px 0;
  }

  /* for remove up & down arrow in number input */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    display: none;
  }
}

body {
  @font-face {
    font-family: "SF Pro Text";
    src: url("./assets/fonts/SFProText-Regular.ttf");
    src: url("./assets/fonts/SFProText-Medium.ttf");
    src: url("./assets/fonts/SFProText-Semibold.ttf");
    src: url("./assets/fonts/SFProText-Bold.ttf");
  }
}
.open {
  background-color: #f5f5f5 !important;
}

@media screen and (max-width: 1280px) {
  .space_for_div {
    padding: 0 4.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .space_for_div {
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 640px) {
  .space_for_div {
    padding: 0 0.75rem;
  }
}

.active {
  background-color: #1b599e;
  color: white;
}
.react_magnify {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  z-index: 99999 !important;
}

.react_magnify > img {
  height: 100% !important;
  width: 100% !important;
}
.enlarge_image {
  position: absolute;
  z-index: 999999 !important;
  top: 16rem !important;
  left: 0rem !important;
  background-color: lightgray !important;
  padding: 1rem 0;
}
/* .enlarge_image > * {
  position: absolute;
  z-index: 99999 !important;
  top: 0;
  left: 100% !important;
  background-color: gray !important;
  padding: 1rem;
} */
