@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @font-face {
    font-family: "SF Pro Text";
    src: url("./assets/fonts/SFProText-Regular.ttf");
    src: url("./assets/fonts/SFProText-Medium.ttf");
    src: url("./assets/fonts/SFProText-Semibold.ttf");
    src: url("./assets/fonts/SFProText-Bold.ttf");
  }
}
.open {
  background-color: #f5f5f5 !important;
}

/* .space_for_div
{
  padding: ;
} */